@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

*{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500; 
}

footer{
    padding: 1em;
    color: gray;
}

footer p {
    color: black;
}

body{
    padding: 0;
    margin: 0;
}

.d-flex{
    display:  flex;
}

.flex-column{
    flex-direction: row;
}

.btn-main {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-main:hover,
.btn-main:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn-main:hover {
  transform: translateY(-1px);
}

.btn-main:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.main-title{
    background-color: #52ab98;
    color:  white;
    width:fit-content;
    padding: 1em;
}

.main-buttons-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
    background-color: #2b6777;
    padding: 1em;
    justify-content: space-evenly;
}

.main-buttons{
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: #2b6777;
    padding: 5em;
    justify-content: space-evenly;
}

.explanation-text-main{
    width: 50%;
    height: 500px;
    padding: 1em;
    background-color: #c8d8e4;
}

.fixed_height{
    overflow: auto;
    max-height: 14rem;
}



.drop_zone{
    min-height: 200px;
    margin-top: 1em;
    padding-left: 5em !important;
    padding-right: 5em !important;
}

